.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.innerContainer {
  width: 20%;
}
.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}
.button {
    padding: 20px;
}

.mt-20 {
  margin-top: 20px;
}